#details-wrapper {
  position: relative; /* add this */

  background-color: rgb(248, 238, 177);
  color: rgb(155, 79, 26);
  margin: 50px auto;
  height: 75%;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
  padding-top: 20px; /* moves content (including image) down */
  padding-bottom: 20px;

}

#details-wrapper img {
  display: block;
  margin: 10px auto;
  height: 30vh;
  width: 30vh;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3); /* softer, fading border */
}




#details-title {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

#category,
#nutrition{
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}


#details-description {
  width: 90%;
  margin: 30px auto;
  height: auto;
  text-align: justify;
  text-justify: inter-word; /* makes spacing between words more even */
}

h4 {
  text-align: center;
}

p {
  font-size: 18px;
  width: 90%;
  margin: 30px auto;
  height: auto;
  text-align: justify;
  text-justify: inter-word; /* makes spacing between words more even */
}

span {
  font-size: 22px;
}

#action-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  
}

#action-buttons a {
  text-decoration: none;
  margin: auto 50px;
  margin-bottom: 10px;
  font-size: 21px;
  width: 130px;
  text-align: center;
  color: white;
  background: rgb(214, 112, 16);
  border-radius: 5px;
}

#action-buttons a:hover {
  background: #bd2c2c;
}



