@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    background: linear-gradient(135deg, rgba(233, 161, 8, 0.2), rgba(44, 132, 37, 0.2)); /* gradient */
    max-width: 440px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    padding: 45px;
    text-align: left;

    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    position: relative;

}

.form h2 {
    margin-bottom: 50px;
    font-size: 35px;
    color: rgb(155, 79, 26);
}
.form label {
    font-size: 24px;
    font-weight: bold;
    color: rgb(214, 112, 16); /* more vibrant orange */
}

.form input,
.form select{
    border-radius: 10px;
    outline: 0;
    background: #f8f4b4;
    width: 100%;
    height: 60px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 24px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;

}

.form textarea {
    border-radius: 10px;
    outline: 0;
    background: #f8f4b4;
    width: 100%;
    height: 60px;       /* same as input fields */
    max-height: 500px;  /* optional cap */
    border: 1px solid #9b4f1a;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 24px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;   /* hide scroll */
    resize: none;       /* disable manual resize */
}


.form select option {
    font-size: 17px;
}

.form button {
    font-family: 'Alkalami', serif;
    font-family: 'Kaushan Script', cursive;
    text-transform: uppercase;
    outline: 0;
    background: rgb(214, 112, 16);
    width: 100%;
    border: 0;
    padding: 15px;
    color: rgb(255, 245, 220); /* lighter cream */
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
}


.form button:hover,
.form button:active,
.form button:focus {
    background: #bd2c2c;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.form .message {
    margin: 15px 0 0;
    color: #6b6767;
    font-size: 17px;
}

.form .message a {
    color: #bd2c2c;
    text-decoration: none;
}

#dashboard p {
    font-size: 15px;
}

#search .form h2 {
    margin-top: -40px;
    margin-bottom: 0px;
    font-size: 24px;
    color: rgb(190, 103, 2);
}

.search-result > .fruit {
    scale: 0.5;
}

.search-result {
    margin-top: -50px;
    display: flex;
}

.no-result {
    margin-top: 8rem;
    font-size: 30px;
}