@import "navigation.css";
@import "form.css";
@import "dashboard.css";
@import "details.css";


.leaf {
  position: absolute;
  top: -200px; /* start above viewport */
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0; /* behind wrapper */
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* Assign images, positions, and sizes */
.leaf1 { left: 1%; background-image: url('/static/images/leaf1.png'); animation-duration: 8s; animation-delay: 0s; width: 160px; height: 160px; }
.leaf2 { left: 5%; background-image: url('/static/images/leaf2.png'); animation-duration: 10s; animation-delay: 2s; width: 100px; height: 100px; }
.leaf3 { right: 5%; background-image: url('/static/images/leaf3.png'); animation-duration: 12s; animation-delay: 1s; width: 180px; height: 180px; }
.leaf4 { right: 1%; background-image: url('/static/images/leaf4.png'); animation-duration: 9s; animation-delay: 3s; width: 150px; height: 150px; }

/* Example fall animation */
@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(120vh) rotate(360deg);
    opacity: 0;
  }
}